# Alpaca API Credentials
ALPACA_KEY=your_key_here
ALPACA_SECRET=your_secret_here
ALPACA_BASE_URL=https://paper-api.alpaca.markets

# Asset Mapping
TICKER_2X=SSO
TICKER_3X=SPXL
TICKER_CASH=SGOV
TICKER_SIGNAL=VOO

# Strategy Settings
MIN_REMAINING_BALANCE=500
MIN_ORDER_VALUE=100
STRATEGY_DNA=config/strategy.json
